<% content_for :head do %>
  <script type="text/javascript">
    <%= render :partial => "users.js" %>
  </script>
<% end %>

<div id="user-background">
	<div class="user-container ">
		<h2><%= @user.email %></h2>
		<p>Current Location: 
			<!--<#%= text_field_tag 'user-location', @user.location.city, :class => 'user-input', :placeholder => 'None set' %>-->
			<span><%= @user.location ? @user.location.city : "None set." %></span>
		</p>
		<!-- <p> -->
		<%= form_tag(user_path(@user), { :method => :put, :remote => true}) do %>


			<p>Current Salary: 
			<%= text_field_tag 'salary', @user.salary, :class => 'user-input', :placeholder => 'None set' %>
<!-- 			<span class="updateButton"><#%= submit_tag 'Update', { :url => user_path(@user), :method => :put, :remote => true } %></span> -->
<%= button_tag('Update', :class => 'updateButton') %></p>


		<% end %>
		<!-- </p> -->
	</div>
</div>

