<div id="origin-map">
	<div class="form-container">
		<!-- :url => { :controller => 'questions', :action => 'update'}) -->
		<!--<#%= form_tag(new_location_path(:city => @city), :method => 'get') do %> -->
		<% if user_signed_in? %>
			<div class="btn">
				<%= submit_tag 'Make home location' %>
			</div>
		<% end %>
		<%= text_field_tag 'origin', nil, :class => 'input-text', :placeholder => "Origin", :title => "Enter a U.S. city" %>


		<!-- <a href="#" id="locationButton" class="arrow"> –> </a><br> -->
<!-- 		<div id="arrowButton">

		</div> -->
		<div class="salaryLabel"><%= "Current Salary: "%></div>
		<div id="currentSalary"></div>
		<p id="salaryDisplay" class="numbers"></p>
		<p class="costIndex"></p>
		<div class="secondaryIndices"></div>
		<!--<#% end %> -->
	</div>
</div>

<div id="destination-map">
	<div class="form-container">
		<% if user_signed_in? %>
			<div class="btn">
				<%= submit_tag 'Make home location' %>
			</div>
		<% end %>
		<%= text_field_tag 'destination', nil, :class => 'input-text', :placeholder => "Destination", :title => "Enter a U.S. city"%><br>
		<div id="compSalary">
			<p class="compSalaryLabel"><%= "Comparable Salary: "%></p>
			<p id="compSalaryDisplay" class="numbers">$40,000</p>
			<p class="costIndex"></p>
			<div class="secondaryIndices"></div>
		</div>
	</div>
</div>
