<%= javascript_tag render(:partial => 'locations', :formats => [:js]) %>

<div id="origin-map">
	<div class="messages"></div>
	<div class="location-container">
<!-- 		<#% if user_signed_in? %>
			<div class="locationButton">
				<#%= submit_tag 'Make home location' %>
			</div>
		<#% end %> -->
		<%= text_field_tag 'origin', nil, :class => 'input-text', :placeholder => "Origin", :title => "Enter a U.S. city"%>

		<div class="salaryLabel"><%= "Current Salary: "%></div>
		<div id="currentSalary"></div>
		<p id="salaryDisplay" class="numbers"></p>
		<p class="costIndex"></p>
		<div class="secondaryIndices"></div>

	</div>
</div>

<div id="destination-map">
	<div class="location-container">
		<% if user_signed_in? %>
			<div class="locWithButton">
				<%= text_field_tag 'destination', nil, :class => 'input-text', :placeholder => "Destination", :title => "Enter a U.S. city"%>
				<%= submit_tag 'Make home location', :class => 'locationButton' %><br>
			</div>
		<% else %>
			<div class="locationSolo">
				<%= text_field_tag 'destination', nil, :class => 'input-text', :placeholder => "Destination", :title => "Enter a U.S. city"%><br>
			</div>
		<% end %>

		<div id="compSalary">
			<p class="compSalaryLabel"><%= "Comparable Salary: "%></p>
			<p id="compSalaryDisplay" class="numbers">$40,000</p>
			<p class="costIndex"></p>
			<div class="secondaryIndices"></div>
		</div>
	</div>
</div>
