<div id="user_nav">
	<%= link_to "CAN I SWING IT?", root_path, :class => "nav brand" %>
	<ul class="nav">
		<% if user_signed_in? %>

			<div class="pull-right">
			<a href="#" data-dropdown="#dropdown-1"><%= @user.email %></a>
			<div id="dropdown-1" class="dropdown dropdown-tip dropdown-anchor-right">
			    <ul class="dropdown-menu">
			        <li><%= link_to "My Settings", user_path(@user)%></li>
			        <li><%= link_to "My Account", edit_user_registration_path(@user)%></li>
			        <li class="dropdown-divider"></li>
			        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
			    </ul>
			</div>
			</div>

		<% else %>
			<li><%= link_to "Sign in", new_user_session_path, :class => "pull-right"%></li>
		<% end %>
	</ul>

</div>


