<!DOCTYPE html>
<html>
<head>
  <title>Swing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
	<!-- <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<!-- 	<link href='http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Poiret+One|Almendra+Display|Quicksand|Londrina+Sketch|Bubbler+One' rel='stylesheet' type='text/css'> -->
  <%= csrf_meta_tags %>

</head>
<body>
	<%= render 'layouts/navbar' %>

	<% if flash[:alert] || flash[:notice] || flash[:error] %>
		<div id="flash">
			<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
			<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
			<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
		</div>
	<% end %>
	
	<div id="container">
		<%= yield %>
	</div>

</body>
</html>
